* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }


  body {
    background:url(../images/formz.jpg); background-size:120%; background-repeat: no-repeat;
  }
  
  .submit {
  border: none;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff5405;
  text-align: center;
  display: inline-block;
  margin: 100px 680px;
  cursor: pointer;
  border-radius: 8px;
  }


  .submit:hover {
    color:white;
    background-color: orangered;
    text-decoration:none;
  }
  

  span.psw {
    float: center;
    padding-top: 16px;
    padding-right: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  
  @media screen and (max-width:1024px) {
    .nav-links {
      width: 150%;
      display: flex;
      justify-content: space-around;
    }
    body {
      background:url(../images/formz.jpg);
    }

    .submit {
      border: none;
      color: white;
      margin-top: 50px;
      margin-left:150px;
      font-size: 16px;
      cursor: pointer;
      background-color: #ff5405;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      border-radius: 8px;
      }
    
    
    
  }